@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Set";
}

<h1>Set</h1>

<p>DateTime Now: @DateTime.Now </p>

<form asp-controller="BrandNew" asp-action="Get" method="post" > 
    <button type="submit">Next</button>
</form>