@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        <form method="post" asp-action="SearchMovieApi">
            <label title="title">title:</label>
            <input type="text" name="title" />
            <label title="year">year:</label>
            <input type="text" name="year" />
            <button type="submit">Search</button>
        </form>

        <form method="post" asp-action="GetMovieDetails">
            <label title="imdbId">imbdId:</label>
            <input type="text" name="imdbId" />
            <button type="submit">Get Movie Details</button>
        </form>

    </div>
