@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>
        <p><a href="/Users/Create">Register New User</a></p>
        <p><a href="/Users/Login">Login User</a></p>
        <p><a href="/Products/Index">View Products</a></p>
        <p><a href="/Products/Create">Add New Product</a></p>
    </h4>
</div>
