@model  User

@{
    ViewData["Title"] = "AddUser";
}

<h1>AddUser</h1>

<form asp-controller="User" asp-action="AddUser" method="post">

    <div>
        <span asp-validation-for="Name" />
        <label asp-for="Name">Name</label>
        <input asp-for="Name" />
    </div>

    <button  class="btn btn-outline-primary" type="submit">Add User</button>
</form>