@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout</h1>

<h1>Item quantity: @HttpContextAccessor.HttpContext.Session.GetInt32("quantity")</h1>

<button class="btn btn-primary" type="button" id="home"
        onclick="location.href='@Url.Action("Index", "Home")'">Continue Shopping</button>

<button class="btn btn-danger" type="button" id="emptyCart"
        onclick="location.href='@Url.Action("EmptyCart", "Home")'">Empty Cart</button>