@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my shopping cart!</h1>

    <p>Item quantity: @HttpContextAccessor.HttpContext.Session.GetInt32("quantity")</p>

    <p><a href="/Home/Item">Update Items</a></p>
    <p><a href="/Home/Checkout">Checkout</a></p>
</div>
