
@{
    ViewData["Title"] = "Index";
}

    <div class="text-center">
        <h1 class="display-4">Users</h1>
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register">Register New User</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="ViewAll">View All Users</a>


    </div>

